@{
    ViewData["Title"] = "Add SNMP User";
}

<h2>Setup SNMP</h2>
@model EthernetSwitch.Data.Models.SNMPUser
<form asp-action="AddSNMPv3User" method="post">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="UserName">UserName: </label>
            <input class="form-control" asp-for="UserName" id="UserName" />
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="Password">Password(MD5): </label>
            <input class="form-control" asp-for="Password" id="Password" />
        </div>
        <div class="form-group col-md-2">
            <label for="EncryptionType">Encryption Type: </label>
            <select class="form-control" asp-for="EncryptionType" id="EncryptionType">
                <option value="AES">AES</option>
                <option value="DES" selected>DES</option>
            </select>
        </div>
        <div class="form-group col-md-4">
            <label for="Encryption">Encryption: </label>
            <input class="form-control" asp-for="Encryption" id="Encryption" />
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Add User</button>
    @if (ViewData.ContainsKey("Error"))
    {
        <div class="alert alert-danger" role="alert">
            @ViewData["Error"]
        </div>
    }
</form>
<br />
<br />
<h3>Users</h3>
<div class="row">
    <ul class="list-group">
        @foreach (var user in ViewData["Users"] as string[])
        {
            <li class="list-group-item">@user</li>
        }
    </ul>
</div>
