@{
    ViewData["Title"] = "Set SNMP v3";
}

<h2>SNMP v3</h2>
@using Lextm.SharpSnmpLib

@model EthernetSwitch.Models.SNMP.SetSNMPv3ViewModel
<form asp-action="SetSNMPv3" method="post">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="IpAddress">IP Address: </label>
            <input class="form-control" asp-for="IpAddress" id="IpAddress"/>
        </div>
        <div class="form-group col-md-6">
            <label for="Port">Port:</label>
            <input class="form-control" asp-for="Port" id="Port"/>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="UserName">Username: </label>
            <input class="form-control" asp-for="UserName" id="UserName" />
        </div>
        <div class="form-group col-md-3">
            <label for="Password">Password (MD5): </label>
            <input class="form-control" asp-for="Password" id="Password" />
        </div>
        <div class="form-group col-md-2">
            <label for="EncryptionType">Encryption Type: </label>
            <select class="form-control" asp-for="EncryptionType" id="EncryptionType">
                <option value="AES">AES</option>
                <option value="DES" selected>DES</option>
            </select>
        </div>
        <div class="form-group col-md-3">
            <label for="Encryption">Encryption (DES): </label>
            <input class="form-control" asp-for="Encryption" id="Encryption" />
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-2">
            <label for="VersionCode">Version: </label>
            <input class="form-control" asp-for="VersionCode" value="@VersionCode.V3" disabled="disabled" id="VersionCode"/>
        </div>
        <div class="form-group col-md-5">
            <label for="OID.Id">Object: </label>
            <input class="form-control" asp-for="OID.Id" placeholder="1.3.6.1.2.1.1.1.0" id="OID.Id"/>
        </div>
        <div class="form-group col-md-5">
            <label for="OID.Value">Value: </label>
            <input class="form-control" asp-for="OID.Value" id="OID.Value"/>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Set Variable</button>
    @if (!string.IsNullOrWhiteSpace(Model.Error))
    {
        <div class="alert alert-danger" role="alert">
            @Model.Error
        </div>
    }
</form>