{% extends 'switch/base.html' %}

{% block title %}{{ title }}{% endblock %}
{% block content %}
    <form role="form" action="{% url 'submit' %}" class="form" method="post">
        {% csrf_token %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Ports</th>
                <th>Enabled</th>
                <th>Tagged</th>
                <th>VLAN</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                {% for port in ports %}
                    <tr>
                        <td>
                            {{ port.name }}
                            <input type="checkbox" hidden name="names" checked value="{{ port.name }}">
                        </td>
                        <td class="{{ port.className }}">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox"
                                       id="custom-switch-enabled-{{ forloop.counter }}"
                                       class="form-check-input"
                                       name="enabled-ports-{{ port.name }}"
                                       value="{{ port.name }}"/>
{#                                       {% if port.enabledBooleanField %}checked{% endif %}>#}
                                <label class="custom-control-label" for="custom-switch-enabled-{{ forloop.counter }}"></label>
                            </div>
                        </td>
                        <td>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox"
                                       id="customSwitch1-{{ forloop.counter }}"
                                       class="custom-control-input"
                                       name="tagged-ports-{{ port.name }}"
                                       value="{{ port.name }}">
                                <label class="custom-control-label" for="customSwitch1-{{ forloop.counter }}"></label>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <input type="number" class="form-control"
                                       name="port-{{ port.name }}-value"
                                       value="{{ port.value }}">
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="submit" class="btn btn-primary">Apply</button>
    </form>

{% endblock %}