{% extends 'switch/base.html' %}
{% load bootstrap4 %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <form role="form" action="{% url 'submit' %}" class="form" method="post">
    {% csrf_token %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Porty</th>
                {% for port in ports %}
                    <th>
                        {{ port.name }}
                    </th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">Tagowany</th>
                {% for port in ports %}
                    <td class="{{ port.className }}">
                        <input type="checkbox" hidden name="names" checked value="{{ port.name }}">
                        <input type="checkbox" name="enabled-ports" value="{{ port.name }}">
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">VLAN</th>
                {% for port in ports %}
                    <td>
                        <input type="number" name="port-{{ port.name }}-value" value="{{ port.value }}">
                    </td>
                {% endfor %}
            </tr>
            </tbody>
        </table>
        {% bootstrap_button "Apply" button_type="submit" button_class="btn-primary" %}
    </form>

{% endblock %}